<!DOCTYPE html>
<thtml xmlns:th="http://www.thymeleaf.org">

<thead>
    <h3 th:text="${title1}"></h3>

</thead>


<tbody>
<script type="text/javascript">
    function mojsubmit() {
        this.document.getElementById("form").action = this.document.getElementById("selectAction").value; return true;}
</script>

<form id="form" method="POST" accept-charset="utf-8" action="/recursion.s" onsubmit="return mojsubmit()">

    <select id="selectAction">
        <option value="/recursion.s">choose recursion method for counting silnia</option>
        <option value="/iterating.s">choose iterating method for counting silnia</option>
    </select>

    <input type="number" name="n"/>
    <input type="submit" value="wyślij zapytanie" var="btn1"/>


</form>




<select th:field="*{silniaList}">
    <option th:each="selectAction : ${allOpts}"
            th:value="${silniaList}"
            th:text="#{${silniaList}}">Wireframe</option>
</select>




<ttr>
    <th:each items="${silniaList}">
        <td th:text="${silniaList}"/>
        <input type="reset" value="Wyczysc" name="wyczysc"/>
        <!--dodać funkcjonalność do buttona-->
    </th:each>
</ttr>

</tbody>
<tfooter>

    <h5 th:text="${message}"></h5>

</tfooter>
</thtml>
