<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!--<h4 th:text="wybierz opcje"></h4>-->
</head>


<body>
<script type="text/javascript">
    function mojsubmit() {
        this.document.getElementById("form").action = this.document.getElementById("selectAction").value; return true;}
</script>

<form id="form" method="POST" accept-charset="utf-8" action="/recursion.s" onsubmit="return mojsubmit()">

    <select id="selectAction">
        <option value="/recursion.s">choose recursion method for counting silnia</option>
        <option value="/iterating.s">choose iterating method for counting silnia</option>
    </select>

    <input type="number" name="n"/>
    <input type="submit" value="wyslij zapytanie" var="btn1"/>


</form>

<tr>
    <th:each items="${silniaList}">
        <td th:text="${silniaList}"/>
        <input type="reset" value="Wyczysc" name="wyczysc"/>
        <!--dodać funkcjonalność do buttona-->
    </th:each>
</tr>

</body>

</html>
